<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="/useradd">Add User</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/userview">View User</a></th>
    </tr>
{#    <tr>#}
{#      <th scope="row"><a href="/useredit">edit User</a></th>#}
{#    </tr>#}
    <tr>
      <th scope="row"><a href="/postadd">Add post</a></th>
    </tr>
{#    <tr>#}
{#      <th scope="row"><a href="/editpost">edit post</a></th>#}
{#    </tr>#}
    <tr>
      <th scope="row"><a href="/postview">View Post</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/electionadd">Add Election</a></th>
    </tr>
{#    <tr>#}
{#      <th scope="row"><a href="/electionedit">Edit Election</a></th>#}
{#    </tr>#}
    <tr>
      <th scope="row"><a href="/election1">View Election</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/rules">Add Rules</a></th>
    </tr>
{#     <tr>#}
{#      <th scope="row"><a href="/editrules">edit Rules</a></th>#}
{#    </tr> #}
    <tr>
      <th scope="row"><a href="/rules1">View Rules</a></th>
    </tr>
     <tr>

    </tr>
    <tr>

    <tr>
      <th scope="row"><a href="/complaint">View Complaint</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/changepswd">Change password</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="/userinfo">view review</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="/results">view result</a></th>
    </tr>
  </table>
</form>
</body>
</html>
