{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered table-hover">
    <tr style="background: #06BBCC; color: white">
      <th scope="col">#</th>

      <th scope="col">Student</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
        <th scope="col">Complaint</th>
      <th scope="col">Reply</th>

    </tr>
      {% for foo in data %}
    <tr>
      <td>{{ forloop.counter }}</td>

      <td>{{ foo.USER.name }}</td>
      <td>{{ foo.date  }}</td>
      <td>&nbsp;{{ foo.time  }}</td>
    <td>{{ foo.comlaint  }}</td>
        {% if foo.replay == 'pending' %}
        <td align="center"><p><a href="/sendreplay/{{ foo.id }}#home"class="btn btn-success" style="width: 50%">Reply</a></p></td>
        {% else %}
      <td>&nbsp;{{ foo.replay  }}</td>
    {% endif %}

    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}