{% extends 'election_coordinator/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/electionpost" >
    {% csrf_token %}
  <table width="200" border="1"class="table table-hover">
      <tr>
      <th scope="row">Title</th>
      <td>
      <input type="text" name="textfield3" id="textfield3"  class="form-control"required /></td>
    </tr>
    <tr>
      <th scope="row">Votting Date</th>
      <td>
      <input type="date" name="textfield" id="textfield" class="form-control" required min="{{ d }}"/></td>
    </tr>
    <tr>
      <th scope="row">Campaign</th>
      <td>
      <input type="date" name="textfield2" id="textfield2" class="form-control"required min="{{ d }}"/></td>
    </tr>

    <tr>
      <th scope="row">Publishing Date</th>
      <td>
      <input type="date" name="textfield4" id="textfield4" class="form-control" required min="{{ d }}"/></td>
    </tr>
      <tr>
      <th scope="row">Last date of submission</th>
      <td>
      <input type="date" name="textfield5" id="textfield5" class="form-control"required min="{{ d }}" /></td>
    </tr>
    <tr align="center" >
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Add" class="btn btn-success"/></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}