{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered table-hover">
    <tr style="background: #06BBCC; color: white">
      <th scope="col">#</th>
        <th scope="col" width="30%">Title</th>
        <th scope="col">Voting Date</th>
        <th scope="col">Campaign</th>
        <th scope="col">Publishing Date</th>
        <th scope="col">Last date of submission</th>
        <th width="27%"></th>
    </tr>
       {% for foo in data %}

    <tr>
      <td>{{ forloop.counter }}</td>
        <td>&nbsp;{{foo.title}}</td>
      <td>{{foo.votingdate}}</td>
      <td>&nbsp;{{foo.campaign}}</td>
        <td>&nbsp;{{foo.publishingdate}}</td>
      <td>&nbsp;{{foo.lastdatesubmission}}</td>
      <td align="center">
{#          <p><a href="/electionedit/{{ foo.id }}#home" class="btn btn-success" style="width: 50%">Edit</a></p>#}
{#      <p><a href="/electiondelete/{{ foo.id }}#home" class="btn btn-danger" style="width: 50%" onclick="return confirm('Are you sure')">Delete</a></p>#}
       <p><a href="/candidateview/{{ foo.id }}#home" class="btn btn-outline-info" style="width: 50%">View Registerd Candidate</a></p>
      </td>
    </tr>
     {% endfor %}

  </table>
</form>
</body>
</html>
{% endblock %}