{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered table-hover">
    <tr style="background: #06BBCC; color: white">
      <th scope="col">#</th>
      <th scope="col">Post</th>
      <th scope="col">Details</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for foo in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{foo.post}}</td>
      <td>{{foo.details}}</td>
      <td align="center"><p><a href="/editpost/{{ foo.id }}#home" class="btn btn-success" style="width: 100%">Edit</a></p>
      <p><a href="/postdelete/{{ foo.id }}#home" class="btn btn-danger" style="width: 100%" onclick="return confirm('Are you sure')">Delete</a></p></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}