{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/usereditpost/{{ data.id }}" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
  <table width="200" border="1"class="table table-hover">
    <tr>
      <th scope="row">Name</th>
      <td>
      <input type="text" name="textfield" id="textfield" value="{{ data.name }}"required class="form-control"/></td>
    </tr>

    <tr>
      <th scope="row">Sem</th>
      <td>
        <select name="select2" id="select2"required class="form-control" >
{#            <option>{{ data.sem }}</option>#}
            <option {% if data.sem == '1SEM' %}selected{% endif %}>1SEM</option>
            <option {% if data.sem == '2SEM' %}selected{% endif %}>2SEM</option>
            <option {% if data.sem == '3SEM' %}selected{% endif %}>3SEM</option>
            <option {% if data.sem == '4SEM' %}selected{% endif %}>4SEM</option>
            <option {% if data.sem == '5SEM' %}selected{% endif %}>5SEM</option>
            <option {% if data.sem == '6SEM' %}selected{% endif %}>6SEM</option>
      </select></td>
    </tr>
    <tr>
      <th scope="row">Year</th>
      <td>
        <select name="select3" id="select3"required class="form-control">
            <option>{{ data.year }}</option>

<script>
  // Get the select element
  var select = document.getElementById("select3");

  // Set the start and end years
  var startYear = 2020;
  var endYear = new Date().getFullYear(); // Gets the current year

  // Add options to the select element for each year in the range
  for (var year = startYear; year <= endYear; year++) {
    var option = document.createElement("option");
    option.text = year;
    option.value = year;
    select.appendChild(option);
  }
</script>
    </tr>
      <tr>
          <th>Photo</th>
          <td><img src="{{ data.photo }}" height="100" width="100" alt=""/><input type="file" name="f" class="form-control" value="{{ data.Photo }}" /></td>
      </tr>

    <tr align="center">
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Add" class="btn btn-success" /></th>
    </tr>
  </table>
</form>
</body>
</html>

{% endblock %}