{% extends 'election_coordinator/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/studentview#home">
    {% csrf_token %}

  <table width="200" border="1" class="table table-bordered table-hover">
    <tr style="background: #06BBCC; color: white">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Course</th>
      <th scope="col">Sem</th>
      <th scope="col">Year</th>
        <th scope="col">photo</th>
        <th scope="col">email</th>
    </tr>
      {% for foo in data %}



    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ foo.USER.name }}</td>
      <td>&nbsp;{{ foo.USER.COURSE.coursename }}</td>
      <td>&nbsp;{{foo.USER.sem  }}</td>
      <td>&nbsp;{{foo.USER.year  }}</td>
      <td><img src="{{foo.USER.photo  }}" height="100" width="100" alt=""/></td>
        <td>&nbsp;{{foo.USER.email}}</td>
      </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}

