{% extends 'election_coordinator/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered table-hover">
    <tr style="background: #06BBCC; color: white">
      <th scope="col">#</th>
      <th scope="col">Post</th>
      <th scope="col">Candidate</th>
      <th scope="col">Vote</th>

    </tr>
      {% for foo in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ foo.CANDIDATE.POST.post }}</td>
      <td>{{ foo.CANDIDATE.USER.name }}</td>
      <td>{{ foo.result}}</td>
    </tr>
      {% endfor %}

  </table>

</form>
</body>
</html>
{% endblock %}